<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生徒管理ログインページ</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>生徒管理ログインページ</h1>
        <h6>IDとパスワードを入力して下さい</h6>
        <form>
            <input type="text" placeholder="ユーザー名">
            <input type="password" placeholder="パスワード">
            <button type="submit">ログイン</button>
        </form>
    </div>
</body>
</html>