<!-- SubTitleの設定 -->
{% set subTitle = 'ログイン' %}

<!-- layoutの決定 -->
{% extends 'layout.html' %}

<!-- コンテンツ -->
{% block contents %}
<div class="container">
    {{ super() }}
    <form id="login" method="POST">
        <span class="text-center">IDとパスワードを入力してください</span>
        <div>
            <label for="user_id">ID</label>
            <input type="text" id="user_id" name="user_id" placeholder="ID">
        </div>
        <div class="form-group">
            <label for="password">パスワード</label>
            <input type="password" id="password" name="password" placeholder="パスワード">
        </div>
        <input type="submit" value="ログイン">
    </form>
</div>
{% endblock %}