<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学校一覧</title>
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>
    <div class="container">
        <h1>学校一覧</h1>
        <ul>
            <li><a href="https://example.com/a">本町校</a></li>
            <li><a href="https://example.com/b">天満橋校</a></li>
            <li><a href="https://example.com/c">三宮校</a></li>
        </ul>
    </div>
</body>
</html>