<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生徒詳細</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/student_detail.css">
</head>

<body>
    <header>
        <h1>生徒詳細画面</h1>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button">ログイン</button>
            <button class="btn btn-primary" type="button">ログアウト</button>
          </div>
        <br><br>
        <p>次へ</p>
        <p>前へ</p>
    </header>
    <main>
        <table class="table table-striped">
            <tr>
                <td>
                    id：{{id}}
                </td>
            </tr>
            <tr>
                <td>
                    生徒名：{{name}}
                </td>
            </tr>
            <tr>
                <td>
                    フリガナ：{{name_kana}}
                </td>
            </tr>
            <tr>
                <td>
                    クラス：{{lass_name}}
                </td>
            </tr>
            <tr>
                <td>
                    性別：{{gender}}
                </td>
            </tr>
            <tr>
                <td>
                    生年月日：{{birthday}}
                </td>
            </tr>
            <tr>
                <td>
                    住所：{{address}}
                </td>
            </tr>
            <tr>
                <td>
                    電話番号：{{phone}}
                </td>
            </tr>
            <tr>
                <td>
                    E-mail 個人用：{{email}}
                </td>
            </tr>
            <tr>
                <td>
                    E-mail 学校用：{{gmail}}
                </td>
            </tr>
            <tr>
                <td>
                    備考：{{note}}
                </td>
            </tr>
        </table>
    </main>
    <footer>
            <p>編集</p>
            <p>生徒一覧へ</p>
    </footer>

    <script src="../static/js/student_details.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>