<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生徒詳細</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_detail.css' ) }}">
</head>

<body>
    <header>
        <!-- SubTitleの設定 -->
        {% set subTitle = '生徒一覧' %}

        <!-- layoutの決定 -->
        {% extends 'layout.html' %}

        <!-- コンテンツ -->
        {% block contents %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/student_list.css') }}"></link>
        {{ super() }}

    

        <br><br>
        <span><a href="{{student.next_id}}"><p>次へ</p></a></span>
        <span><a href="{{student.prev_id}}"><p>前へ</p></a></span>
    </header>
    <main>
        <table class="table table-striped">
            <tr>
                <td>
                    id:{{student.id}}
                </td>
            </tr>
            <tr>
                <td>
                    生徒名：{{student.name}}
                </td>
            </tr>
            <tr>
                <td>
                    フリガナ：{{student.name_kana}}
                </td>
            </tr>
            <tr>
                <td>
                    クラス：{{student.class_name}}
                </td>
            </tr>
            <tr>
                <td>
                    性別：{{student.gender}}
                </td>
            </tr>
            <tr>
                <td>
                    生年月日：{{student.birthday}}
                </td>
            </tr>
            <tr>
                <td>
                    住所：{{student.address}}
                </td>
            </tr>
            <tr>
                <td>
                    電話番号：{{student.phone}}
                </td>
            </tr>
            <tr>
                <td>
                    E-mail 個人用：{{student.email}}
                </td>
            </tr>
            <tr>
                <td>
                    E-mail 学校用：{{student.gmail}}
                </td>
            </tr>
            <tr>
                <td>
                    備考：{{student.note}}
                </td>
            </tr>
        </table>
    </main>
    <footer>
        <p><a href="{{ url_for('student_edit.student_edit', id=student.id,school=school)}}">編集へ</a></p>
        <p><a href="{{ url_for('student_list.student_list', school=school)}}">生徒一覧へ</a></p>
    
        {% endblock %}

    <script src="../static/js/student_details.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>



</html>