<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生徒編集</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_edit.css' ) }}">
</head>

<body>
    <header>
        <!-- SubTitleの設定 -->
        {% set subTitle = '生徒一覧' %}

        <!-- layoutの決定 -->
        {% extends 'layout.html' %}

        <!-- コンテンツ -->
        {% block contents %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/student_list.css') }}">
        </link>
        {{ super() }}


        <!-- <br><br>
        <span><a href="{{student.next_id}}"><p>次へ</p></a></span>
        <span><a href="{{student.prev_id}}"><p>前へ</p></a></span> -->
    </header>
    <main>
    <form method="post">
        <table class="table table-striped">
            <tr>
                <td>
                    id:<input type="text" name="id" value="{{student.id}}">
                </td>
            </tr>
            <tr>
                <td>
                    生徒名：<input type="text" name="name" value="{{student.name}}">
                </td>
            </tr>
            <tr>
                <td>
                    フリガナ：<input type="text" name="name_kana" value="{{student.name_kana}}">
                </td>
            </tr>
            <tr>
                <td>
                    クラス：
                    <select name="class_name">
                        {% for i in class_member %}
                        <option>{{i.name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>            
                    性別：  <input type="radio" name="gender" id="male" value="1" {% if student.gender == "男"%} checked{%endif%}>
                    <label for="male">男性</label>
                    <input type="radio" name="gender" id="female" value="2" {% if student.gender == "女"%} checked{%endif%}>
                    <label for="female">女性</label>
                </td>
            </tr>
            <tr>
                <td>35
                    生年月日：<input type="text" name="birthday" value="{{student.birthday}}">
                </td>
            </tr>
            <tr>
                <td>
                    住所：<input type="text" name="address" value="{{student.address}}">
                </td>
            </tr>
            <tr>
                <td>
                    電話番号：<input type="text" name="phone" value="{{student.phone}}">
                </td>
            </tr>
            <tr>
                <td>
                    E-mail 個人用：<input type="text" name="email" value="{{student.email}}">
                </td>
            </tr>
            <tr>
                <td>
                    E-mail 学校用：<input type="text" name="gmail" value="{{student.gmail}}">
                </td>
            </tr>
            <tr>
                <td>
                    備考：<input type="text" name="note" value="{{student.note}}">
                </td>
            </tr>
        </table>
     </main>
     <footer>
        <p><a href="{{ url_for('student_list.student_list', school=school)}}">生徒一覧へ</a></p>
        <p><button type="submit">更新</p></button>

        <p><a href="{{student.delete}}">削除</a></p>

        <script src="../static/js/student_edit.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </form>
</body>

{% endblock %}

</html>