<!-- SubTitleの設定 -->
{% set subTitle = '生徒一覧' %}

{% set studentSearch = True %}


<!-- layoutの決定 -->
{% extends 'layout.html' %}

<!-- コンテンツ -->
{% block contents %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/student_list.css') }}"></link>
{{ super() }}
<div class="container">
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
    <p>あ</p>
</div>
{% endblock %}